In [2]:
import pandas as pd
Domains="real_domains.csv"
df=pd.read_csv(Domains,names=['top_level_domain','mx_record','a_record','timestamp'])
df.columns=['top_level_domain','mx_record','a_record','timestamp']

In [6]:
df.head()
print(df)

        top_level_domain                                          mx_record  \
0                0--1.de               ["mail.0--1.de","mxf993.netcup.net"]
1                0--2.de               ["mxf993.netcup.net","mail.0--2.de"]
2           0-0-0-0-0.de  ["smtp-02.tld.t-online.de","smtp-01.tld.t-onli...
3             0-0-0-1.de  ["smtp-02.tld.t-online.de","smtp-01.tld.t-onli...
4                 0-0.de                                                 []
...                  ...                                                ...
4860880          zzzw.de                                   ["mail.zzzw.de"]
4860881        zzzwei.de  ["smtp-02.tld.t-online.de","smtp-01.tld.t-onli...
4860882       zzzzzzz.de                                      ["localhost"]
4860883     zzzzzzzzz.de                                      ["localhost"]
4860884    zzzzzzzzzz.de                             ["mail.zzzzzzzzzz.de"]

                                                  a_record  \
0                                        ["46.38.249.145"]
1                                      ["212.227.212.163"]
2                                         ["80.150.6.143"]
3                                         ["80.150.6.143"]
4                                        ["185.53.178.13"]
...                                                    ...
4860880  ["104.27.159.32","104.27.158.32","172.67.216.93"]
4860881                                   ["80.150.6.143"]
4860882                                 ["91.195.241.137"]
4860883                                 ["91.195.241.137"]
4860884                                  ["217.11.48.203"]

                   timestamp
0        2020-12-13 15:36:05
1        2020-12-13 15:36:05
2        2020-12-13 15:36:05
3        2020-12-13 15:36:05
4        2020-12-13 15:36:05
...                      ...
4860880  2020-12-13 15:36:04
4860881  2020-12-13 15:36:04
4860882  2020-12-13 15:36:05
4860883  2020-12-13 15:36:05
4860884  2020-12-13 15:36:05

[4860885 rows x 4 columns]

In [5]:
df[df['mx_record'].str.match('^localhost.*')==True]

Empty DataFrame
Columns: [top_level_domain, mx_record, a_record, timestamp]
Index: []