In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql.functions import *
import pyspark
from pyspark.sql.functions import struct
from pyspark.sql.functions import monotonically_increasing_id
import pyspark.sql.functions as f
from pyspark.sql.functions import udf
import re

#Starten ohne Spark-Cluster
spark = SparkSession.builder.getOrCreate()

In [2]:
# Verbindung zu Minio
spark.sparkContext.setSystemProperty("com.amazonaws.services.s3.enableV4", "true")
spark.sparkContext._jsc.hadoopConfiguration().set("fs.s3a.access.key", "minio")
spark.sparkContext._jsc.hadoopConfiguration().set("fs.s3a.secret.key", "minio123")
spark.sparkContext._jsc.hadoopConfiguration().set("com.amazonaws.services.s3.enableV4", "true")
spark.sparkContext._jsc.hadoopConfiguration().set("fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
spark.sparkContext._jsc.hadoopConfiguration().set("fs.s3a.path.style.access", "true")
spark.sparkContext._jsc.hadoopConfiguration().set("fs.s3a.endpoint", "http://minio1:9000")

In [ ]:
schema = StructType([
    StructField("Top level domain", StringType(), True),
    StructField("MX-Record from the name server", StringType(), True),
    StructField("A-Record of the specific domain", StringType(), True),
    StructField("Timestamp", StringType(), True)])

df = spark.read.csv("s3a://bucket/real_new.csv",header=False,sep=";",schema=schema)

### Datenbeschreibung / Data Cleaning

#### Allgemein

In [311]:
df.show(5)

+----------------+------------------------------+-------------------------------+-------------------+
|Top level domain|MX-Record from the name server|A-Record of the specific domain|          Timestamp|
+----------------+------------------------------+-------------------------------+-------------------+
|         0--1.de|          "[""mail.0--1.de"...|           "[""46.38.249.145...|2020-12-13 15:36:05|
|         0--2.de|          "[""mxf993.netcup...|           "[""212.227.212.1...|2020-12-13 15:36:05|
|    0-0-0-0-0.de|          "[""smtp-02.tld.t...|           "[""80.150.6.143""]"|2020-12-13 15:36:05|
|      0-0-0-1.de|          "[""smtp-02.tld.t...|           "[""80.150.6.143""]"|2020-12-13 15:36:05|
|          0-0.de|                            []|           "[""185.53.178.13...|2020-12-13 15:36:05|
+----------------+------------------------------+-------------------------------+-------------------+
only showing top 5 rows

* Top level domain: Namensserver; das, was Personen sich merken können
* Ein MX Resource Record weist einem Namen einen Mailserver zu. Er stellt eine Besonderheit dar, da er sich auf einen speziellen Dienst im Internet, nämlich die E-Mailzustellung mittels SMTP, bezieht. Alle anderen Dienste nutzen CNAME, A und AAAA Resource Records für die Namensauflösung.
* Ein A Resource Record weist einem Namen eine IPv4-Adresse zu.

In [312]:
df= df.withColumn("id", monotonically_increasing_id())

In [313]:
df=df.select("Top level domain","MX-Record from the name server","A-Record of the specific domain")

* die Spalte Timestamp wird nicht benötigt

In [314]:
df=df.withColumnRenamed("MX-Record from the name server", "MX-Record")

In [315]:
df=df.withColumnRenamed("A-Record of the specific domain", "A-Record")

In [316]:
type(df)

pyspark.sql.dataframe.DataFrame

In [201]:
df.count()

4860885

In [202]:
df.dropDuplicates().count()

4860885

* es gibt keine Duplikate in dem Datensatz

In [270]:
df.filter(df["MX-Record"].contains(']')).count()

4860882

* es gibt 3 Zeilen, wo die Aufzeichnung von MX Records abgebrochen wurde

In [317]:
df=df.filter(df["MX-Record"].contains(']'))

* diese Zeilen werden entfernt, da sie sich nicht reparieren lassen

## Oder drin lassen, weil splittet sich ja alles gut und man könnte in das vlt in der Analyse sehen???

In [318]:
df.printSchema()

root
 |-- Top level domain: string (nullable = true)
 |-- MX-Record: string (nullable = true)
 |-- A-Record: string (nullable = true)

#### Top Level Domain

In [16]:
df.filter(df["Top level domain"]=="null").count()

0

* keine Null Values

In [17]:
dfTCount=df.groupBy("Top level domain").count()
dfTCount.orderBy(col("count").desc()).show(5)

+----------------+-----+
|Top level domain|count|
+----------------+-----+
|        00gle.de|    1|
| 017662646746.de|    1|
|      03fotos.de|    1|
|     040event.de|    1|
|0711-internet.de|    1|
+----------------+-----+
only showing top 5 rows

* es gibt keine doppelte TLD

#### MX Records

In [18]:
df.filter(df["MX-Record"]=="null").count()

0

* keine Null Values

In [19]:
dfMxCount=df.groupBy("MX-Record").count()
dfMxCount.orderBy(col("count").desc()).show(5,False)

+-----------------------------------------------------+------+
|MX-Record                                            |count |
+-----------------------------------------------------+------+
|[]                                                   |633040|
|"[""smtpin.rzone.de""]"                              |509127|
|"[""localhost""]"                                    |303839|
|"[""mx01.kundenserver.de"",""mx00.kundenserver.de""]"|176491|
|"[""mx00.kundenserver.de"",""mx01.kundenserver.de""]"|176182|
+-----------------------------------------------------+------+
only showing top 5 rows

#### A Records

In [20]:
df.filter(df["A-Record"]=="null").count()

10732

* es gibt 10.732 Null Values
* diese können mit [] ersetzt werde

In [319]:
#df = df.withColumn('A-Record of the specific domain', regexp_replace('A-Record of the specific domain', 'null', '[]'))
df=df.na.replace({"null": "[]"})

In [274]:
dfACount=df.groupBy("A-Record").count()
dfACount.orderBy(col("count").desc()).show(5, False)

+----------------------+------+
|A-Record              |count |
+----------------------+------+
|"[""91.195.241.137""]"|303204|
|[]                    |172018|
|"[""80.150.6.143""]"  |150156|
|"[""23.236.62.147""]" |59034 |
|"[""52.58.78.16""]"   |49200 |
+----------------------+------+
only showing top 5 rows

### Entfernen von Sonderzeichen im Datensatz

In [320]:
commaRep = udf(lambda x: re.sub('"','', x))
commaRep2 = udf(lambda x: re.sub(']','', x))
commaRep3 = udf(lambda x: re.sub('\[','', x))
commaRep5 = udf(lambda x: re.sub('\.','', x))

#### MX Record

In [321]:
df_MXClean=df.withColumn('MX-Record',commaRep('MX-Record'))
df_MXClean=df_MXClean.withColumn('MX-Record',commaRep2('MX-Record'))
df_MXClean=df_MXClean.withColumn('MX-Record',commaRep3('MX-Record'))
df_MXClean.show(3, False)

+----------------+-----------------------------------------------+-----------------------+
|Top level domain|MX-Record                                      |A-Record               |
+----------------+-----------------------------------------------+-----------------------+
|0--1.de         |mail.0--1.de,mxf993.netcup.net                 |"[""46.38.249.145""]"  |
|0--2.de         |mxf993.netcup.net,mail.0--2.de                 |"[""212.227.212.163""]"|
|0-0-0-0-0.de    |smtp-02.tld.t-online.de,smtp-01.tld.t-online.de|"[""80.150.6.143""]"   |
+----------------+-----------------------------------------------+-----------------------+
only showing top 3 rows

#### A Record

In [322]:
df_AClean=df.withColumn('A-Record',commaRep('A-Record'))
df_AClean=df_AClean.withColumn('A-Record',commaRep2('A-Record'))
df_AClean=df_AClean.withColumn('A-Record',commaRep3('A-Record'))
df_AClean.show(3, False)

+----------------+-----------------------------------------------------------+---------------+
|Top level domain|MX-Record                                                  |A-Record       |
+----------------+-----------------------------------------------------------+---------------+
|0--1.de         |"[""mail.0--1.de"",""mxf993.netcup.net""]"                 |46.38.249.145  |
|0--2.de         |"[""mxf993.netcup.net"",""mail.0--2.de""]"                 |212.227.212.163|
|0-0-0-0-0.de    |"[""smtp-02.tld.t-online.de"",""smtp-01.tld.t-online.de""]"|80.150.6.143   |
+----------------+-----------------------------------------------------------+---------------+
only showing top 3 rows

#### A Record 2 als Schlüssel für das Joining

In [323]:
df_AClean2=df_AClean.withColumn('A-Record2',commaRep5('A-Record'))
df_AClean2.show(10, False)

+----------------+-----------------------------------------------------------+---------------+------------+
|Top level domain|MX-Record                                                  |A-Record       |A-Record2   |
+----------------+-----------------------------------------------------------+---------------+------------+
|0--1.de         |"[""mail.0--1.de"",""mxf993.netcup.net""]"                 |46.38.249.145  |4638249145  |
|0--2.de         |"[""mxf993.netcup.net"",""mail.0--2.de""]"                 |212.227.212.163|212227212163|
|0-0-0-0-0.de    |"[""smtp-02.tld.t-online.de"",""smtp-01.tld.t-online.de""]"|80.150.6.143   |801506143   |
|0-0-0-1.de      |"[""smtp-02.tld.t-online.de"",""smtp-01.tld.t-online.de""]"|80.150.6.143   |801506143   |
|0-0.de          |[]                                                         |185.53.178.13  |1855317813  |
|0-01.de         |"[""mail.0-01.de""]"                                       |193.34.145.200 |19334145200 |
|0-1.de          |"[""localhost""]"                                          |91.195.241.137 |91195241137 |
|0-10.de         |[]                                                         |               |            |
|0-1000.de       |"[""localhost""]"                                          |91.195.241.137 |91195241137 |
|0-100kmh.de     |"[""smtpin.rzone.de""]"                                    |81.169.145.95  |8116914595  |
+----------------+-----------------------------------------------------------+---------------+------------+
only showing top 10 rows

In [282]:
df_AClean2.printSchema()

root
 |-- Top level domain: string (nullable = true)
 |-- MX-Record: string (nullable = true)
 |-- A-Record: string (nullable = true)
 |-- A-Record2: string (nullable = true)

#### A-Record 2 in Integer umwandeln

In [324]:
df_AClean2 = df_AClean2.withColumn("A-Record2", df_AClean2["A-Record2"].cast(IntegerType()))

In [325]:
df_AClean2.printSchema()

root
 |-- Top level domain: string (nullable = true)
 |-- MX-Record: string (nullable = true)
 |-- A-Record: string (nullable = true)
 |-- A-Record2: integer (nullable = true)

 ### Splitten der Spalten

#### MX Record

In [27]:
"""

split_cols = pyspark.sql.functions.split(df['MX-Record'], '"",""')
df11 = df.withColumn('mx-record1', split_cols.getItem(0)) \
    .withColumn('mx-record2', split_cols.getItem(1)) \
    .withColumn('mx-record3', split_cols.getItem(2))
df11.show(3, False)
"""

'\n\nsplit_cols = pyspark.sql.functions.split(df[\'MX-Record\'], \'"",""\')\ndf11 = df.withColumn(\'mx-record1\', split_cols.getItem(0))     .withColumn(\'mx-record2\', split_cols.getItem(1))     .withColumn(\'mx-record3\', split_cols.getItem(2))\ndf11.show(3, False)\n'

In [326]:
df_MXSplit=df_MXClean.select(
        "Top level domain", "A-Record",
        f.split("MX-Record", ",").alias("MX-Record"),
        f.posexplode(f.split("MX-Record", ",")).alias("pos_MX", "val_MX")
    )
df_MXSplit.show(5)

+----------------+--------------------+--------------------+------+--------------------+
|Top level domain|            A-Record|           MX-Record|pos_MX|              val_MX|
+----------------+--------------------+--------------------+------+--------------------+
|         0--1.de|"[""46.38.249.145...|[mail.0--1.de, mx...|     0|        mail.0--1.de|
|         0--1.de|"[""46.38.249.145...|[mail.0--1.de, mx...|     1|   mxf993.netcup.net|
|         0--2.de|"[""212.227.212.1...|[mxf993.netcup.ne...|     0|   mxf993.netcup.net|
|         0--2.de|"[""212.227.212.1...|[mxf993.netcup.ne...|     1|        mail.0--2.de|
|    0-0-0-0-0.de|"[""80.150.6.143""]"|[smtp-02.tld.t-on...|     0|smtp-02.tld.t-onl...|
+----------------+--------------------+--------------------+------+--------------------+
only showing top 5 rows

#### A Record

In [23]:
#split_cols = pyspark.sql.functions.split(df['A-Record'], ',')

In [29]:
"""
df10 = df.withColumn('a-record1', split_cols.getItem(0)) \
    .withColumn('a-record2', split_cols.getItem(1)) \
    .withColumn('a-record3', split_cols.getItem(2)) \
    .withColumn('a-record4', split_cols.getItem(3)) \
    .withColumn('a-record5', split_cols.getItem(4)) \
    .withColumn('a-record6', split_cols.getItem(5)) \
    .withColumn('a-record7', split_cols.getItem(6))

df10.show(20)
"""

"\ndf10 = df.withColumn('a-record1', split_cols.getItem(0))     .withColumn('a-record2', split_cols.getItem(1))     .withColumn('a-record3', split_cols.getItem(2))     .withColumn('a-record4', split_cols.getItem(3))     .withColumn('a-record5', split_cols.getItem(4))     .withColumn('a-record6', split_cols.getItem(5))     .withColumn('a-record7', split_cols.getItem(6))\n\ndf10.show(20)\n"

In [ ]:
#checking ob es bis zu 3 a-records gibt? Ja
#df10.select('a-record3').show(200)

In [ ]:
#checking ob es bis zu 4 a.records gibt? In den ersten 200 Reihen nein.
#df10.select('a-record4').show(200)

In [ ]:
# Wie viele IPs max. in der Spalte A-Record?
#tobedone

In [327]:
df_ASplit=df_AClean.select(
        "Top level domain", "MX-Record",
        f.split("A-Record", ", ").alias("A-Record"),
        f.posexplode(f.split("A-Record", ",")).alias("pos_A", "val_A")
    )
df_ASplit.show(5)

+----------------+--------------------+-----------------+-----+---------------+
|Top level domain|           MX-Record|         A-Record|pos_A|          val_A|
+----------------+--------------------+-----------------+-----+---------------+
|         0--1.de|"[""mail.0--1.de"...|  [46.38.249.145]|    0|  46.38.249.145|
|         0--2.de|"[""mxf993.netcup...|[212.227.212.163]|    0|212.227.212.163|
|    0-0-0-0-0.de|"[""smtp-02.tld.t...|   [80.150.6.143]|    0|   80.150.6.143|
|      0-0-0-1.de|"[""smtp-02.tld.t...|   [80.150.6.143]|    0|   80.150.6.143|
|          0-0.de|                  []|  [185.53.178.13]|    0|  185.53.178.13|
+----------------+--------------------+-----------------+-----+---------------+
only showing top 5 rows

In [328]:
schema_blocks = StructType([
    StructField("network", StringType(), True),
    StructField("autonomous_system_number", IntegerType(), True),
    StructField("autonomous_system_organization", StringType(), True)
])

df_asn_blocks_ipv4 = spark.read.csv("s3a://bucket/GeoLite2-ASN-Blocks-IPv4.csv", header=True, schema=schema_blocks).cache()

In [329]:
df_asn_blocks_ipv4.show()

+------------+------------------------+------------------------------+
|     network|autonomous_system_number|autonomous_system_organization|
+------------+------------------------+------------------------------+
|  1.0.0.0/24|                   13335|                 CLOUDFLARENET|
|  1.0.4.0/22|                   38803|          Wirefreebroadband...|
| 1.0.64.0/18|                   18144|          Energia Communica...|
|1.0.128.0/17|                   23969|          TOT Public Compan...|
|  1.1.1.0/24|                   13335|                 CLOUDFLARENET|
|  1.1.8.0/24|                   58543|                     Guangdong|
| 1.1.64.0/19|                    2519|          ARTERIA Networks ...|
| 1.1.96.0/20|                    2519|          ARTERIA Networks ...|
|1.1.112.0/21|                    2519|          ARTERIA Networks ...|
|1.1.120.0/22|                    2519|          ARTERIA Networks ...|
|1.1.124.0/23|                    2519|          ARTERIA Networks ...|
|1.1.126.0/24|                    2519|          ARTERIA Networks ...|
|1.1.128.0/17|                   23969|          TOT Public Compan...|
|  1.2.4.0/24|                   24151|          China Internet Ne...|
|1.2.128.0/17|                   23969|          TOT Public Compan...|
|1.4.128.0/17|                   23969|          TOT Public Compan...|
|  1.5.0.0/16|                    4725|                SoftBank Corp.|
|  1.6.0.0/17|                    9583|                  Sify Limited|
|1.6.128.0/21|                    9583|                  Sify Limited|
|1.6.136.0/24|                  132215|          Power Grid Corpor...|
+------------+------------------------+------------------------------+
only showing top 20 rows

In [164]:
df_asn_blocks_ipv4.count()

461902

In [66]:
df_asn_blocks_ipv4.dropDuplicates().count()

461902

* es gibt keine Duplikate in dem Datensatz

In [289]:
df_asn_blocks_ipv4.printSchema()

root
 |-- network: string (nullable = true)
 |-- autonomous_system_number: integer (nullable = true)
 |-- autonomous_system_organization: string (nullable = true)

In [68]:
df_asn_blocks_ipv4.filter(df_asn_blocks_ipv4["network"]=="null").count()

0

* keine Null Values

In [69]:
df_asn_blocks_ipv4.filter(df_asn_blocks_ipv4["autonomous_system_number"]=="null").count()

0

* keine Null Values

In [70]:
df_asn_blocks_ipv4.filter(df_asn_blocks_ipv4["autonomous_system_organization"]=="null").count()

0

* keine Null Values

#### Sonderzeichen / entfernen

In [330]:
commaRep4 = udf(lambda x: re.sub('/','', x))

In [331]:
df_networkClean=df_asn_blocks_ipv4.withColumn('network',commaRep4('network'))
df_networkClean.show(3, False)

+----------+------------------------+------------------------------+
|network   |autonomous_system_number|autonomous_system_organization|
+----------+------------------------+------------------------------+
|1.0.0.024 |13335                   |CLOUDFLARENET                 |
|1.0.4.022 |38803                   |Wirefreebroadband Pty Ltd     |
|1.0.64.018|18144                   |Energia Communications,Inc.   |
+----------+------------------------+------------------------------+
only showing top 3 rows

#### network2 als Schlüssel für das Joining

In [332]:
df_networkClean2=df_networkClean.withColumn('network2',commaRep5('network'))
df_networkClean2.show(10, False)

+-----------+------------------------+------------------------------+--------+
|network    |autonomous_system_number|autonomous_system_organization|network2|
+-----------+------------------------+------------------------------+--------+
|1.0.0.024  |13335                   |CLOUDFLARENET                 |100024  |
|1.0.4.022  |38803                   |Wirefreebroadband Pty Ltd     |104022  |
|1.0.64.018 |18144                   |Energia Communications,Inc.   |1064018 |
|1.0.128.017|23969                   |TOT Public Company Limited    |10128017|
|1.1.1.024  |13335                   |CLOUDFLARENET                 |111024  |
|1.1.8.024  |58543                   |Guangdong                     |118024  |
|1.1.64.019 |2519                    |ARTERIA Networks Corporation  |1164019 |
|1.1.96.020 |2519                    |ARTERIA Networks Corporation  |1196020 |
|1.1.112.021|2519                    |ARTERIA Networks Corporation  |11112021|
|1.1.120.022|2519                    |ARTERIA Networks Corporation  |11120022|
+-----------+------------------------+------------------------------+--------+
only showing top 10 rows

In [293]:
df_networkClean2.printSchema()

root
 |-- network: string (nullable = true)
 |-- autonomous_system_number: integer (nullable = true)
 |-- autonomous_system_organization: string (nullable = true)
 |-- network2: string (nullable = true)

#### network2 in integer umwandeln

In [333]:
df_networkClean2 = df_networkClean2.withColumn("network2", df_networkClean2["network2"].cast(IntegerType()))

In [334]:
df_networkClean2.printSchema()

root
 |-- network: string (nullable = true)
 |-- autonomous_system_number: integer (nullable = true)
 |-- autonomous_system_organization: string (nullable = true)
 |-- network2: integer (nullable = true)

#### Joining von Tabelle real_new und asn_blocks_ipv4

In [335]:
df_gejoint = df_AClean2.join(df_networkClean2, df_AClean2["A-Record2"] == df_networkClean2["network2"])

In [336]:
df_gejoint.show()

+--------------------+--------------------+------------+---------+------------+------------------------+------------------------------+---------+
|    Top level domain|           MX-Record|    A-Record|A-Record2|     network|autonomous_system_number|autonomous_system_organization| network2|
+--------------------+--------------------+------------+---------+------------+------------------------+------------------------------+---------+
| 0711-architekten.de|"[""0711architekt...|217.160.0.20|217160020|217.16.0.020|                  204818|                  Hosteur Sarl|217160020|
|1nachhilfeunterri...|"[""mx00.kundense...|217.160.0.20|217160020|217.16.0.020|                  204818|                  Hosteur Sarl|217160020|
|              1w6.de|"[""mx00.ionos.de...|217.160.0.19|217160019|2.17.160.019|                   16625|                     AKAMAI-AS|217160019|
|        24technik.de|"[""mx01.ionos.de...|217.160.0.20|217160020|217.16.0.020|                  204818|                  Hosteur Sarl|217160020|
|           2draft.de|"[""mx00.schlund....|217.160.0.20|217160020|217.16.0.020|                  204818|                  Hosteur Sarl|217160020|
|      2ndhardware.de|"[""mx01.kundense...|217.160.0.20|217160020|217.16.0.020|                  204818|                  Hosteur Sarl|217160020|
|         2xf-pool.de|"[""mx01.ionos.de...|217.160.0.19|217160019|2.17.160.019|                   16625|                     AKAMAI-AS|217160019|
|  3welten-wandern.de|"[""mx00.kundense...|217.160.0.19|217160019|2.17.160.019|                   16625|                     AKAMAI-AS|217160019|
|   5sinne-leipzig.de|"[""mx00.kundense...|217.160.0.19|217160019|2.17.160.019|                   16625|                     AKAMAI-AS|217160019|
|          6458361.de|"[""mx00.udag.de"...|217.160.0.20|217160020|217.16.0.020|                  204818|                  Hosteur Sarl|217160020|
|   99-good-things.de|"[""mx00.ionos.de...|217.160.0.20|217160020|217.16.0.020|                  204818|                  Hosteur Sarl|217160020|
|a-p-architekturbu...|"[""mx01.kundense...|217.160.0.19|217160019|2.17.160.019|                   16625|                     AKAMAI-AS|217160019|
|          a-shots.de|"[""mx00.kundense...|217.160.0.20|217160020|217.16.0.020|                  204818|                  Hosteur Sarl|217160020|
|         a-z-yoga.de|"[""mx00.emig.kun...|217.160.0.19|217160019|2.17.160.019|                   16625|                     AKAMAI-AS|217160019|
|aaa-arztnotrufdie...|"[""mx01.kundense...|217.160.0.20|217160020|217.16.0.020|                  204818|                  Hosteur Sarl|217160020|
|          aam-med.de|"[""mx01.kundense...|217.160.0.19|217160019|2.17.160.019|                   16625|                     AKAMAI-AS|217160019|
|         aam-shop.de|"[""mx01.kundense...|217.160.0.19|217160019|2.17.160.019|                   16625|                     AKAMAI-AS|217160019|
|     abendtreffen.de|"[""mx00.kundense...|217.160.0.19|217160019|2.17.160.019|                   16625|                     AKAMAI-AS|217160019|
|        abgewehrt.de|"[""mx01.ionos.de...|217.160.0.20|217160020|217.16.0.020|                  204818|                  Hosteur Sarl|217160020|
|       abi-heepen.de|"[""mx01.kundense...|217.160.0.20|217160020|217.16.0.020|                  204818|                  Hosteur Sarl|217160020|
+--------------------+--------------------+------------+---------+------------+------------------------+------------------------------+---------+
only showing top 20 rows

#### Datei GeoLite2-Country-Locations-en einlesen

In [337]:
schema_country = StructType([
    StructField("geoname_id", IntegerType(), True),
    StructField("locale_code", StringType(), True),
    StructField("continent_code", StringType(), True),
    StructField("continent_name", StringType(), True),
    StructField("country_iso_code", StringType(), True),
    StructField("country_name", StringType(), True),
    StructField("is_in_european_union", StringType(), True)
])

df_country = spark.read.csv("s3a://bucket/GeoLite2-Country-Locations-en.csv", header=True, schema=schema_country).cache()

In [338]:
df_country.show()

+----------+-----------+--------------+--------------+----------------+--------------------+--------------------+
|geoname_id|locale_code|continent_code|continent_name|country_iso_code|        country_name|is_in_european_union|
+----------+-----------+--------------+--------------+----------------+--------------------+--------------------+
|     49518|         en|            AF|        Africa|              RW|              Rwanda|                   0|
|     51537|         en|            AF|        Africa|              SO|             Somalia|                   0|
|     69543|         en|            AS|          Asia|              YE|               Yemen|                   0|
|     99237|         en|            AS|          Asia|              IQ|                Iraq|                   0|
|    102358|         en|            AS|          Asia|              SA|        Saudi Arabia|                   0|
|    130758|         en|            AS|          Asia|              IR|                Iran|                   0|
|    146669|         en|            EU|        Europe|              CY|              Cyprus|                   1|
|    149590|         en|            AF|        Africa|              TZ|            Tanzania|                   0|
|    163843|         en|            AS|          Asia|              SY|               Syria|                   0|
|    174982|         en|            AS|          Asia|              AM|             Armenia|                   0|
|    192950|         en|            AF|        Africa|              KE|               Kenya|                   0|
|    203312|         en|            AF|        Africa|              CD|            DR Congo|                   0|
|    223816|         en|            AF|        Africa|              DJ|            Djibouti|                   0|
|    226074|         en|            AF|        Africa|              UG|              Uganda|                   0|
|    239880|         en|            AF|        Africa|              CF|Central African R...|                   0|
|    241170|         en|            AF|        Africa|              SC|          Seychelles|                   0|
|    248816|         en|            AS|          Asia|              JO|              Jordan|                   0|
|    272103|         en|            AS|          Asia|              LB|             Lebanon|                   0|
|    285570|         en|            AS|          Asia|              KW|              Kuwait|                   0|
|    286963|         en|            AS|          Asia|              OM|                Oman|                   0|
+----------+-----------+--------------+--------------+----------------+--------------------+--------------------+
only showing top 20 rows

In [300]:
df_country.printSchema()

root
 |-- geoname_id: integer (nullable = true)
 |-- locale_code: string (nullable = true)
 |-- continent_code: string (nullable = true)
 |-- continent_name: string (nullable = true)
 |-- country_iso_code: string (nullable = true)
 |-- country_name: string (nullable = true)
 |-- is_in_european_union: string (nullable = true)

#### Unbenötigte Spalte entfernen

In [339]:
df_country = df_country.drop("locale_code", "continent_code", "continent_name", "country_iso_code", "is_in_european_union")

In [340]:
df_country.show()

+----------+--------------------+
|geoname_id|        country_name|
+----------+--------------------+
|     49518|              Rwanda|
|     51537|             Somalia|
|     69543|               Yemen|
|     99237|                Iraq|
|    102358|        Saudi Arabia|
|    130758|                Iran|
|    146669|              Cyprus|
|    149590|            Tanzania|
|    163843|               Syria|
|    174982|             Armenia|
|    192950|               Kenya|
|    203312|            DR Congo|
|    223816|            Djibouti|
|    226074|              Uganda|
|    239880|Central African R...|
|    241170|          Seychelles|
|    248816|              Jordan|
|    272103|             Lebanon|
|    285570|              Kuwait|
|    286963|                Oman|
+----------+--------------------+
only showing top 20 rows

In [236]:
df_country.count()

252

In [237]:
df_country.dropDuplicates().count()

252

* es gibt keine Duplikate in dem Datensatz

In [239]:
df_country.filter(df_country["country_name"]=="null").count()

0

* keine Null Values

#### Datei GeoLite2-City-Locations-en einlesen

In [341]:
schema_city = StructType([
    StructField("geoname_id", IntegerType(), True),
    StructField("locale_code", StringType(), True),
    StructField("continent_code", StringType(), True),
    StructField("continent_name", StringType(), True),
    StructField("country_iso_code", StringType(), True),
    StructField("country_name", StringType(), True),
    StructField("subdivision_1_iso_code", StringType(), True),
    StructField("subdivision_1_name", StringType(), True),
    StructField("subdivision_2_iso_code", StringType(), True),
    StructField("subdivision_2_name", StringType(), True),
    StructField("city_name", StringType(), True),
    StructField("metro_code", StringType(), True),
    StructField("time_zone", StringType(), True),
    StructField("is_in_european_union", StringType(), True)
])

df_city = spark.read.csv("s3a://bucket/GeoLite2-City-Locations-en.csv", header=True, schema = schema_city).cache()

In [342]:
df_city.show()

+----------+-----------+--------------+--------------+----------------+------------+----------------------+------------------+----------------------+------------------+------------+----------+----------------+--------------------+
|geoname_id|locale_code|continent_code|continent_name|country_iso_code|country_name|subdivision_1_iso_code|subdivision_1_name|subdivision_2_iso_code|subdivision_2_name|   city_name|metro_code|       time_zone|is_in_european_union|
+----------+-----------+--------------+--------------+----------------+------------+----------------------+------------------+----------------------+------------------+------------+----------+----------------+--------------------+
|     49518|         en|            AF|        Africa|              RW|      Rwanda|                  null|              null|                  null|              null|        null|      null|   Africa/Kigali|                   0|
|     49747|         en|            AF|        Africa|              SO|     Somalia|                    BK|            Bakool|                  null|              null|       Oddur|      null|Africa/Mogadishu|                   0|
|     51537|         en|            AF|        Africa|              SO|     Somalia|                  null|              null|                  null|              null|        null|      null|Africa/Mogadishu|                   0|
|     53654|         en|            AF|        Africa|              SO|     Somalia|                    BN|          Banaadir|                  null|              null|   Mogadishu|      null|Africa/Mogadishu|                   0|
|     54225|         en|            AF|        Africa|              SO|     Somalia|                    SH|   Lower Shabeelle|                  null|              null|       Merca|      null|Africa/Mogadishu|                   0|
|     55671|         en|            AF|        Africa|              SO|     Somalia|                    JH|        Lower Juba|                  null|              null|     Kismayo|      null|Africa/Mogadishu|                   0|
|     56335|         en|            AF|        Africa|              SO|     Somalia|                    SD|    Middle Shabele|                  null|              null|      Giohar|      null|Africa/Mogadishu|                   0|
|     57289|         en|            AF|        Africa|              SO|     Somalia|                    WO|   Woqooyi Galbeed|                  null|              null|    Hargeisa|      null|Africa/Mogadishu|                   0|
|     57723|         en|            AF|        Africa|              SO|     Somalia|                    JD|       Middle Juba|                  null|              null|    Gurmeyso|      null|Africa/Mogadishu|                   0|
|     58933|         en|            AF|        Africa|              SO|     Somalia|                    NU|            Nugaal|                  null|              null|     Garoowe|      null|Africa/Mogadishu|                   0|
|     58994|         en|            AF|        Africa|              SO|     Somalia|                    GE|              Gedo|                  null|              null|Garbahaarrey|      null|Africa/Mogadishu|                   0|
|     59611|         en|            AF|        Africa|              SO|     Somalia|                    MU|             Mudug|                  null|              null|   Gaalkacyo|      null|Africa/Mogadishu|                   0|
|     60928|         en|            AF|        Africa|              SO|     Somalia|                    GA|         Galguduud|                  null|              null| Dusa Marreb|      null|Africa/Mogadishu|                   0|
|     62691|         en|            AF|        Africa|              SO|     Somalia|                    SA|            Sanaag|                  null|              null|     Erigavo|      null|Africa/Mogadishu|                   0|
|     63795|         en|            AF|        Africa|              SO|     Somalia|                    TO|          Togdheer|                  null|              null|       Burao|      null|Africa/Mogadishu|                   0|
|     63949|         en|            AF|        Africa|              SO|     Somalia|                    JD|       Middle Juba|                  null|              null|     Bu'aale|      null|Africa/Mogadishu|                   0|
|     64013|         en|            AF|        Africa|              SO|     Somalia|                    BR|              Bari|                  null|              null|      Bosaso|      null|Africa/Mogadishu|                   0|
|     64460|         en|            AF|        Africa|              SO|     Somalia|                    HI|           Hiiraan|                  null|              null|  Beledweyne|      null|Africa/Mogadishu|                   0|
|     64536|         en|            AF|        Africa|              SO|     Somalia|                    BY|               Bay|                  null|              null|      Baidoa|      null|Africa/Mogadishu|                   0|
|     69426|         en|            AS|          Asia|              YE|       Yemen|                    AB|   Muhafazat Abyan|                  null|              null|    Zinjibar|      null|       Asia/Aden|                   0|
+----------+-----------+--------------+--------------+----------------+------------+----------------------+------------------+----------------------+------------------+------------+----------+----------------+--------------------+
only showing top 20 rows

In [343]:
df_city.printSchema()

root
 |-- geoname_id: integer (nullable = true)
 |-- locale_code: string (nullable = true)
 |-- continent_code: string (nullable = true)
 |-- continent_name: string (nullable = true)
 |-- country_iso_code: string (nullable = true)
 |-- country_name: string (nullable = true)
 |-- subdivision_1_iso_code: string (nullable = true)
 |-- subdivision_1_name: string (nullable = true)
 |-- subdivision_2_iso_code: string (nullable = true)
 |-- subdivision_2_name: string (nullable = true)
 |-- city_name: string (nullable = true)
 |-- metro_code: string (nullable = true)
 |-- time_zone: string (nullable = true)
 |-- is_in_european_union: string (nullable = true)

#### Unbenötigte Spalte entfernen

In [344]:
df_city = df_city.drop("locale_code", "continent_code", "continent_name", "country_iso_code", "country_name", 
                             "subdivision_1_iso_code", "subdivision_1_name", "subdivision_2_iso_code", "subdivision_2_name",
                             "metro_code", "time_zone", "is_in_european_union")

In [345]:
df_city.show()

+----------+------------+
|geoname_id|   city_name|
+----------+------------+
|     49518|        null|
|     49747|       Oddur|
|     51537|        null|
|     53654|   Mogadishu|
|     54225|       Merca|
|     55671|     Kismayo|
|     56335|      Giohar|
|     57289|    Hargeisa|
|     57723|    Gurmeyso|
|     58933|     Garoowe|
|     58994|Garbahaarrey|
|     59611|   Gaalkacyo|
|     60928| Dusa Marreb|
|     62691|     Erigavo|
|     63795|       Burao|
|     63949|     Bu'aale|
|     64013|      Bosaso|
|     64460|  Beledweyne|
|     64536|      Baidoa|
|     69426|    Zinjibar|
+----------+------------+
only showing top 20 rows

In [245]:
df_city.count()

121754

In [246]:
df_city.dropDuplicates().count()

121754

* es gibt keine Duplikate in dem Datensatz

In [247]:
df_city.filter(df_city["city_name"]=="null").count()

0

* Keine Null Values

#### Joining von Tabelle df_country und df_city

In [348]:
df_gejoint2 = df_country.join(df_city, df_country["geoname_id"] == df_city["geoname_id"])

In [349]:
df_gejoint2.show()

+----------+--------------------+----------+---------+
|geoname_id|        country_name|geoname_id|city_name|
+----------+--------------------+----------+---------+
|     49518|              Rwanda|     49518|     null|
|     51537|             Somalia|     51537|     null|
|     69543|               Yemen|     69543|     null|
|     99237|                Iraq|     99237|     null|
|    102358|        Saudi Arabia|    102358|     null|
|    130758|                Iran|    130758|     null|
|    146669|              Cyprus|    146669|     null|
|    149590|            Tanzania|    149590|     null|
|    163843|               Syria|    163843|     null|
|    174982|             Armenia|    174982|     null|
|    192950|               Kenya|    192950|     null|
|    203312|            DR Congo|    203312|     null|
|    223816|            Djibouti|    223816|     null|
|    226074|              Uganda|    226074|     null|
|    239880|Central African R...|    239880|     null|
|    241170|          Seychelles|    241170|     null|
|    248816|              Jordan|    248816|     null|
|    272103|             Lebanon|    272103|     null|
|    285570|              Kuwait|    285570|     null|
|    286963|                Oman|    286963|     null|
+----------+--------------------+----------+---------+
only showing top 20 rows

#### Joining von all Tabellen

In [346]:
df_gejoint_all = df_networkClean2\
            .join(df_AClean2, df_networkClean2["network2"] == df_AClean2["A-Record2"])\
            .join(df_country, df_networkClean2["autonomous_system_number"] == df_country["geoname_id"])\
            .join(df_city, df_networkClean2["autonomous_system_number"] == df_city["geoname_id"])

In [347]:
df_gejoint_all.show()

+-------+------------------------+------------------------------+--------+----------------+---------+--------+---------+----------+------------+----------+---------+
|network|autonomous_system_number|autonomous_system_organization|network2|Top level domain|MX-Record|A-Record|A-Record2|geoname_id|country_name|geoname_id|city_name|
+-------+------------------------+------------------------------+--------+----------------+---------+--------+---------+----------+------------+----------+---------+
+-------+------------------------+------------------------------+--------+----------------+---------+--------+---------+----------+------------+----------+---------+